OrdonneParDuree.lua
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/SoundBox/FileContentIndex/878e5c15-71e0-4179-84fb-550496657223.vsidx
.vs/SoundBox/FileContentIndex/be4b8514-33a5-4683-b9a2-411d8f51da4b.vsidx
.vs/SoundBox/v17/.wsuo
.vs/SoundBox/v17/workspaceFileList.bin
